In [12]:
import numpy as np

import sys
sys.path.append('../')

from src.data_load import extract_zip, load_csv

extract_zip()
df = load_csv()

print("Head of dataset")
print(df.head())
print("\n")
print("Dataset info")
print(df.info())
print("\n")
print("Dataset shape")
print(df.shape)
print("\n")
print("Dataset columns")
print(df.columns)

Extracted '/Users/ehagye/Documents/ResumeProject/ResumeRanker/data/raw/ResumeData.zip' to '/Users/ehagye/Documents/ResumeProject/ResumeRanker/data/interim'
Head of dataset
   Resume_ID              Name                                        Skills  \
0          1        Ashley Ali                      TensorFlow, NLP, Pytorch
1          2      Wesley Roman  Deep Learning, Machine Learning, Python, SQL
2          3     Corey Sanchez         Ethical Hacking, Cybersecurity, Linux
3          4  Elizabeth Carney                   Python, Pytorch, TensorFlow
4          5        Julie Hill                              SQL, React, Java

   Experience (Years) Education                Certifications  \
0                  10      B.Sc                           NaN
1                  10       MBA                     Google ML
2                   1       MBA  Deep Learning Specialization
3                   7    B.Tech                 AWS Certified
4                   4       PhD                           NaN

                Job Role Recruiter Decision  Salary Expectation ($)  \
0          AI Researcher               Hire                  104895
1         Data Scientist               Hire                  113002
2  Cybersecurity Analyst               Hire                   71766
3          AI Researcher               Hire                   46848
4      Software Engineer               Hire                   87441

   Projects Count  AI Score (0-100)
0               8               100
1               1               100
2               7                70
3               0                95
4               9               100


Dataset info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Resume_ID               1000 non-null   int64
 1   Name                    1000 non-null   object
 2   Skills                  1000 non-null   object
 3   Experience (Years)      1000 non-null   int64
 4   Education               1000 non-null   object
 5   Certifications          726 non-null    object
 6   Job Role                1000 non-null   object
 7   Recruiter Decision      1000 non-null   object
 8   Salary Expectation ($)  1000 non-null   int64
 9   Projects Count          1000 non-null   int64
 10  AI Score (0-100)        1000 non-null   int64
dtypes: int64(5), object(6)
memory usage: 86.1+ KB
None


Dataset shape
(1000, 11)


Dataset columns
Index(['Resume_ID', 'Name', 'Skills', 'Experience (Years)', 'Education',
       'Certifications', 'Job Role', 'Recruiter Decision',
       'Salary Expectation ($)', 'Projects Count', 'AI Score (0-100)'],
      dtype='object')

In [13]:
df.isnull.sum()
df.isnull().mean() * 100

AttributeError: 'function' object has no attribute 'sum'